@import "tailwindcss";
@config "../tailwind.config.ts";

@layer base {
  :root {
    --font-manrope: var(--font-manrope);
    --font-plus-jakarta: var(--font-plus-jakarta);
  }

  body {
    background-color: theme('colors.background.light');
    color: theme('colors.text.primary.light');
    font-family: theme('fontFamily.primary');
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .dark body {
    background-color: theme('colors.background.dark');
    color: theme('colors.text.primary.dark');
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  @keyframes shimmer {
    0% {
      background-position: -200% 0;
    }

    100% {
      background-position: 200% 0;
    }
  }

  .animate-shimmer {
    background: linear-gradient(90deg,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 0.2) 50%,
        rgba(255, 255, 255, 0) 100%);
    background-size: 200% 100%;
    animation: shimmer 2s infinite linear;
  }

  .dark .animate-shimmer {
    background: linear-gradient(90deg,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 0.05) 50%,
        rgba(255, 255, 255, 0) 100%);
    background-size: 200% 100%;
  }
}